
@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<style>
    th,td,tr,thead,tbody{
        border: 1px solid orange;
        text-align:center;
    }
</style>

<table>
    <thead class="table table-bodered table-striped" style="width:100%">
<tr>
   
    <th>
        Name
    </th>
    <th>
        Id
    </th>
    <th>
        Display Order
    </th>
    <th>
        Date
    </th>
    <th>
        City
    </th>

</tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
             <tr>
                
                    <td style="width:10%">
                    @i.Name

                    </td>
                             <td style="width:10%">
                    @i.Id

                        </td>
                                 <td style="width:10%">
                    @i.DiplayOrder

                        </td>
                                 <td style="width:10%">
                    @i.date

                        </td>
                             <td style="width:10%">
                    @i.city

                            </td>
            </tr>
        }
       

    </tbody>
    


</table>

<div>

    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
</div>
