
@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Index";
}

<div class="container container-fluid mt-3">
<div class="row">
  <div class="col-6">
     <h2 class="text-danger ">
Category list
     </h2>

  </div>
    <div class="col-6 text-end">
    <a asp-controller="Category" asp-action="Create" class="btn btn-danger fw-bold" style="border-radius:20px"> <i class="bi bi-cloud-plus-fill"></i> Create Category</a>

  </div>


</div>


<h1>Index Category</h1>

<style>
    th,td,tr,thead,tbody{
        border: 1px solid orange;
        text-align:center;
       
    }
</style>

<table class="mt-5">
    <thead class="table table-bodered table-striped" style="width:100%">
<tr>
   
    <th>
        Name
    </th>
    <th>
        Id
    </th>
    <th>
        Display Order
    </th>
    <th>
        Date
    </th>
    <th>
        City
    </th>

</tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
             <tr>
                
                    <td style="width:10%">
                    @i.Name

                    </td>
                             <td style="width:10%">
                    @i.Id

                        </td>
                                 <td style="width:10%">
                    @i.DiplayOrder

                        </td>
                                 <td style="width:10%">
                    @i.date

                        </td>
                             <td style="width:10%">
                    @i.city

                            </td>
            </tr>
        }
       

    </tbody>
    


</table>


</div>
